<nav class="navbar navbar-light bg-light justify-content-between">
  <h1 class="navbar-brand">FoodOrb</h1>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">
      <mat-icon>search icon</mat-icon>Search
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">
      <mat-icon>shopping_cart</mat-icon>Cart
    </button>
  </form>
</nav> <br><br><br><br><br>

<div class="card" style="text-align: center;">
    <h1>Menu</h1>
    <div class="card-body">
        <img src="..." alt="..." class="card-image" alt="Card image cap">
        <h6 class="card-text">Burger</h6>
        <h6 class="card-text">630 Rs    </h6>
        <button type="button" class="btn btn-primary"> <mat-icon> </mat-icon> <mat-icon>add_box</mat-icon>Add </button>
    </div>
    
