<div>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <h1 class="navbar-brand">FoodOrb</h1>
      <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">
          <mat-icon>search icon</mat-icon>Search
        </button>
      </form>
    </nav> <br><br><br><br><br>
  </div>

  <div class="card" style="text-align: center;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Render restaurant name here</p>
      <p class="card-text">Render restaurant rating here</p>
      <p class="card-text"><mat-icon>star</mat-icon></p>
    </div>
  </div>
