
<div>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <h1 class="navbar-brand">FoodOrb</h1>
      <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">
          <mat-icon>search icon</mat-icon>Search
        </button>
      </form>
    </nav> <br><br><br><br><br>
  </div>

  
  <div class="card" style="text-align: center;">
        <div class="card-body">
            <img src="..." alt="..." class="card-image" alt="Card image cap">
            <h6 class="card-text">John Doe</h6>
            <h6 class="card-text">1k followers</h6>
            <button type="button" class="btn btn-primary"> <mat-icon> </mat-icon> <mat-icon>add_box</mat-icon>Add </button>
        </div>
      
        
      </div>
