<div>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand">FoodOrb</h1>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">
        <mat-icon>search</mat-icon>Search
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">
        <mat-icon>shopping_cart</mat-icon>Cart
      </button>
    </form>
  </nav> <br><br><br><br><br>

  <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary">Edit Profile</button>
    <button type="button" class="btn btn-primary">Adresses</button>
    <button type="button" class="btn btn-primary">Payment</button>
  </div>
  <div class="card text-center" style="text-align: center;">
    <div>Name:<input type="text" class="form-control" placeholder="Name" aria-describedby="inputGroup-sizing-default">
    </div> <br>
    <div>Email:<input type="email" class="form-control" placeholder="Email"
        aria-describedby="inputGroup-sizing-default"> </div> <br>
    <div>Phone Number:<input class="form-control mr-sm-2" type="number" placeholder="Phone number"> </div>
  </div>

</div>
